body {
    display: flex;
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 1px solid black;
    align-self: flex-start;
}

section.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #B5E8EF;
    justify-content: space-around;
}

section.choices button {
    background-color: #F8BABA ;
}

section.choices {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-around;
    overflow-y: scroll;
    height: 80vh;
    width: 30vw;

}

section.career {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}